body { margin:0; font-family: Arial; }

/* NAV */
.navbar {
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#111;
  color:white;
}

/* GRID */
.grid {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  padding:20px;
}

/* CARD */
.card {
  width:200px;
  background:white;
  padding:10px;
  border-radius:10px;
  transition:0.3s;
}
.card:hover { transform:scale(1.05); }

/* LOGIN */
.login-bg {
  height:100vh;
  background:url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f")
  center/cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box {
  background:white;
  padding:40px;
  width: 400px;
  height: 400px;
}

/* PROFILE */
.profile { text-align:center; }
.profile-img { width:200px; border-radius:50%; }

/* SMOOTH */
.fade { animation:fadeIn 0.5s; }
@keyframes fadeIn {
  from {opacity:0;} to {opacity:1;}
}